In [3]:
# importing libraries and classes

import numpy as np
import pandas as pd 

# 'as' abbreviation for the name of libraries

from pandas import Series, DataFrame

In [4]:
# create date 
# np.arange(valor)

dados = np.arange(8)

In [5]:
# run 

dados

array([0, 1, 2, 3, 4, 5, 6, 7])

In [6]:
# np.reshape((linhas, colunas))

dados.reshape((4, 2))

# reorganizei o meu array em 4 linhas e 2 colunas

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7]])

In [7]:
# selecionar e buscar dados 

indice = [
          'linha 1', 'linha 2', 'linha 3', 'linha 4', 
          'linha 5', 'linha 6', 'linha 7', 'linha 8'
          ]

serie = Series(dados, index=indice)

In [8]:
serie

# uma série é sempre indexada.

linha 1    0
linha 2    1
linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
linha 8    7
dtype: int64

In [9]:
serie['linha 7']
# selecionando um index

6

In [14]:
from pandas._libs import index
# fatiando dados 

np.random.seed(25)
indice = [ 'linha 1', 'linha 2', 'linha 3', 'linha 4','linha 5', 'linha 6']
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6']

df = DataFrame(np.random.rand(36).reshape((6,6)),
index=indice,
columns=colunas)

In [11]:
df.loc[['linha 2', 'linha 4'], ['coluna 3', 'coluna 5']]

         coluna 3  coluna 5
linha 2  0.556229  0.402366
linha 4  0.481343  0.383048

In [15]:
## fatiando dados | selecionar dados 

## [['indice inicial':'indice final']]

serie['linha 3': 'linha 7']

linha 3    2
linha 4    3
linha 5    4
linha 6    5
linha 7    6
dtype: int64